#!/usr/bin/make -f

# See https://wiki.debian.org/Python/LibraryStyleGuide

export PYBUILD_NAME = dbase32

%:
	dh $@ --buildsystem=pybuild --with=python3,sphinxdoc

override_dh_auto_clean:
	dh_auto_clean
	rm -rf doc/_build/
	rm -f dbase32/_dbase32.cpython-*.so

override_dh_auto_build:
	dh_auto_build
	sphinx-build -EW -b html doc/ doc/_build/html/

# FIXME: for now, build without DBASE32_INSTRUMENT_BUILD=true as on Wily it's
# failing with this error:
#     ASan runtime does not come first in initial library list; you should
#     either link runtime to your application or manually preload it with 
#     LD_PRELOAD.
override_dh_auto_test:
	set -ex; for python in $(shell py3versions -r); do \
		$$python -c "import dbase32; assert dbase32.using_c_extension is False"; \
		$$python setup.py test; \
		$$python setup.py benchmark; \
		scan-build --status-bugs -analyze-headers \
			$$python setup.py build_ext -i; \
		$$python -c "import dbase32; assert dbase32.using_c_extension is True"; \
		$$python setup.py test; \
		$$python setup.py benchmark; \
	done

override_dh_compress:
	dh_compress -Xchangelog.html
