#!/usr/bin/make -f

# See https://wiki.debian.org/Python/LibraryStyleGuide

export PYBUILD_NAME = dbase32

%:
	dh $@ --buildsystem=pybuild --with=python3,sphinxdoc

override_dh_auto_clean:
	dh_auto_clean
	rm -rf doc/_build/
	rm -f dbase32/_dbase32.cpython-*.so

override_dh_auto_build:
	dh_auto_build
	sphinx-build -EW -b html doc/ doc/_build/html/

override_dh_auto_test:
	set -ex; for python in $(shell py3versions -r); do \
		$$python setup.py test --skip-sphinx; \
		$$python setup.py build_ext -i; \
		$$python setup.py test; \
		$$python setup.py benchmark; \
	done

override_dh_sphinxdoc:
ifneq "$(shell dh_listpackages | grep -- -doc)" ""
	dh_sphinxdoc
endif

